@font-face {
  font-family: 'ubuntuBold';
  src: url('../fonts/ubuntubold.woff') format('woff'),
       url('../fonts/ubuntubold.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
